// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$radius: 8px;

button {
  all: unset;
  padding: 6px;
  margin: 4px;

  &:hover {
    border-radius: $radius;
    background: darkgrey;
  }
}

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  >centerbox {
    border-radius: $radius;
    margin: 8px 16px 0;
  }

  section {
    background: $bg-color;
    border-radius: $radius;
  }
}

.current-name {
  margin-left: 12px;
  margin-right: 12px;
}

.workspaces {
  border-radius: $radius;
}

.mpd {
  padding-left: 8px;
  padding-right: 8px;
}

.workspaces .focused {
  color: red;
}
