[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/mnpqraven/nvim_config.git
[submodule "lib/wezterm-types"]
	path = lib/wezterm-types
	url = https://github.com/gonstoll/wezterm-types.git
