include "common.kdl"

output "HDMI-A-1" {
    mode "1920x1080"
    scale 1
    transform "normal"
    position x=0 y=0
}
// laptop screen
output "eDP-1" {
    mode "1920x1200"
    scale 1
    transform "normal"
    position x=1920 y=0
}
output "DP-3" {
    mode "1920x1080"
    scale 1
    transform "270"
    position x=-1080 y=-360
    layout {
        struts {
            left 8
            right 8
            top 30
            bottom 8
        }
    }
}
