include "common.kdl"

output "DP-2" {
    mode "1920x1080"
    scale 1
    transform "90"
    position x=0 y=0
    layout {
        struts {
            left 0
            right 0
            top 20
            bottom 0
        }
    }
}
output "DP-1" {
    focus-at-startup
    mode "2560x1440@320.002"
    scale 1
    transform "normal"
    position x=1080 y=240
}
output "DP-3" {
    mode "1920x1080"
    scale 1
    transform "normal"
    position x=3640 y=420
}
