@define-color cl-fg #a1bdce;
@define-color cl-black #15161e;
@define-color cl-red #f7768e;
@define-color cl-green #9ece6a;
@define-color cl-yellow #e0af68;
@define-color cl-blue #7aa2f7;
@define-color cl-magenta #bb9af7;
@define-color cl-cyan #7dcfff;
@define-color cl-white #a9b1d6;

* {
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  font-size: 15px;
}

#custom-notification {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 17px;
  color: @cl-fg;
  margin: 2px 0px 0px 0px;
}

window#waybar {
  background: rgba(15, 15, 23, 0.99);
  border: 2px solid #124323;
  border: 0px solid @cl-fg;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

tooltip {
  background: #171717;
  color: @cl-fg;
  font-size: 13px;
  border-radius: 7px;
  border: 2px solid #101a24;
}

#workspaces {
  background: rgba(23, 23, 23, 0.0);
  color: #888789;
  box-shadow: none;
  text-shadow: none;
  border-radius: 9px;
  transition: 0.2s ease;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
}

#workspaces button {
  background: rgba(23, 23, 23, 0.0);
  color: @cl-fg;
  box-shadow: none;
  text-shadow: none;
  border-radius: 9px;
  transition: 0.2s ease;
  padding-left: 4px;
  padding-right: 4px;
  animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
  color: @cl-fg;
  transition: all 0.3s ease;
  padding-left: 4px;
  padding-right: 4px;
  transition: all 0.4s cubic-bezier(0.55, 0.68, 0.48, 1.682);
}

#workspaces button:hover {
  background: none;
  color: @cl-green;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  border-color: transparent;
}

#taskbar button {
  box-shadow: none;
  text-shadow: none;
  font-size: 4px;
  padding: 0px;
  border-radius: 9px;
  margin-bottom: 3px;
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 0px;
  /* TODO: */
  /* color: @wb-color; */
  animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
  /* TODO: */
  /* background: @wb-act-bg; */
  /* color: @wb-act-color; */
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: tb_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  min-height: 9px;
}

#taskbar button:hover {
  /* TODO: */
  /* background: @wb-hvr-bg; */
  /* color: @wb-hvr-color; */
  animation: tb_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#tray menu * {
  min-height: 16px;
  font-weight: bold;
  font-size: 13px;
  color: #9488e3;
}

#tray menu separator {
  min-height: 10px;
}

#submap {
  color: @cl-yellow;
  font-weight: 900;
}

#custom-cloudflare {
  color: @cl-fg;
  font-weight: 900;
}

#custom-cloudflare.connected {
  color: @cl-green;
}

#custom-mouse {
  font-size: 14px;
  margin-bottom: 6px;
  background: #161320;
}

#backlight {
  color: #2096c0;
  background: rgba(23, 23, 23, 0.0);
  font-weight: normal;
  font-size: 19px;
  margin: 1px 0px 0px 0px;
  padding-left: 0px;
  padding-right: 2px;
}
/* #bluetooth, */
#custom-cliphist {
  color: #e6e7e7;
  background: #161320;
  opacity: 1;
  margin: 4px 0px 4px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#battery {
  font-weight: normal;
  font-size: 22px;
  color: #a6d189;
  background: rgba(23, 23, 23, 0.0);
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#idle_inhibitor {
  color: #24966e;
  /* TODO: */
  /* background: @bar-bg; */
  opacity: 1;
  margin: 4px 0px 4px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#clock {
  color: @cl-fg;
  font-weight: 900;
  font-family: "JetBrains Mono Nerd Font";
  background: rgba(23, 23, 23, 0.0);
  opacity: 1;
  margin: 3px 0px 0px 0px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

#pulseaudio {
  font-weight: normal;
  font-size: 18px;
  color: #6f8fdb;
  background: rgba(22, 19, 32, 0.0);
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-left: 3px;
  padding-right: 3px;
}
#cpu {
  font-weight: 900;
  color: #915caf;
}

#custom-led {
  background: #427287;
  color: #ffffff;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 6px;
  border-radius: 7px;
  margin-right: 6px;
}
#custom-gpuinfo,
#custom-keybindhint,
#language,
#memory {
  font-weight: 900;
  color: #e4c9af;
}
#mpris {
  color: white;
  animation: repeat;
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#mpd.playing {
  color: @cl-fg;
  /* animation: repeat; */
  /* animation-name: blink; */
  /* animation-duration: 3s; */
  /* animation-timing-function: linear; */
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate; */
}

@keyframes blink {
  to {
    color: #4a4a4a;
  }
}

#network {
  color: @cl-fg;
  font-weight: normal;
  font-size: 19px;
  padding-right: 0px;
  padding-left: 4px;
}
#custom-notifications,
#custom-spotify,
#taskbar,
#custom-theme,
#custom-menu {
  color: #e8edf0;
  background: rgba(23, 23, 23, 0.0);
  margin: 0px 0px 0px 0px;
  padding-left: 1px;
  padding-right: 1px;
  opacity: 0.1;
}

#tray,
#custom-terminal,
#custom-expand-left,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window {
  color: @cl-fg;
  font-family: "Martian Mono";
}

#cava,
#upower#headset,
#upower {
  color: #a6d189;
}

#mpris {
  font-weight: bold;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background: @cl-fg;
  background-color: transparent;
  box-shadow: none;
  margin-right: 7px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 90px;
  min-height: 10px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: #343434;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: #2096c0;
}

#battery.charging,
#battery.plugged {
  color: #e8edf0;
}

#battery.critical:not(.charging) {
  color: red;
}

#taskbar {
  padding: 1px;
}

#pulseaudio {
 font-size: 15px;
}

#custom-expand {
  min-width: 25px;
  color: @cl-fg;
  font-size: 16px;
}

#group-minimized {
  border-left: solid;
  border-left-width: 0.5;
}

#group-power {
  color: @cl-fg;
}

