theme = "tokyonight_moon_mod"

[editor]
line-number = "relative"
mouse = true
end-of-line-diagnostics = "hint"
popup-border = "all"
rulers = [80]
jump-label-alphabet = "arsdheiqwfpgjluyozxcvbkmtn"
cursorline = true
cursorcolumn = true

[editor.lsp]
display-progress-messages = true

[editor.soft-wrap]
enable = true

[editor.statusline]
left = [
  "mode",
  "spinner",
  "version-control",
  "read-only-indicator",
  "file-modification-indicator",
  "separator",
  "file-name",
]
right = ["diagnostics", "selections", "register", "position"]
mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "VISUAL"


[editor.indent-guides]
render = true
character = "â–"
skip-levels = 1

[editor.inline-diagnostics]
cursor-line = "error"

[editor.cursor-shape]
insert = "bar"
select = "underline"

[editor.file-picker]
hidden = false

# INFO: KEYMAPS ---------------------------------------------------------
[keys.normal]
H = "goto_line_start"
n = "move_visual_line_down"
e = "move_char_right"
E = "goto_line_end"
l = "move_visual_line_up"
j = "move_next_word_end"
J = "move_next_long_word_end"
X = "select_line_above"
k = "search_next"
"A-k" = "search_prev"
K = "hover"
"C-j" = "join_selections"
"C-k" = "keep_selections"
U = "no_op"
G = "goto_last_line"
"C-r" = "redo"
"C-h" = "jump_view_left"
"C-n" = "jump_view_down"
"C-e" = "jump_view_right"
"C-l" = "jump_view_up"
"A-{" = "copy_selection_on_prev_line"
"A-}" = "copy_selection_on_next_line"
"C-\\" = "file_explorer"
"C-;" = "file_explorer_in_current_buffer_directory"

[keys.select]
H = "extend_to_line_start"
n = "extend_visual_line_down"
e = "extend_char_right"
E = "extend_to_line_end"
l = "extend_visual_line_up"
j = "extend_next_word_end"
J = "extend_next_long_word_end"
X = "select_line_above"
k = "extend_search_next"
G = "goto_last_line"
"A-k" = "extend_search_prev"

[keys.normal.g]
G = "goto_last_line"
c = "toggle_comments"
C = "toggle_block_comments"

[keys.normal."space"]
o = ":format"
h = ["save_selection", "goto_word"]
b = "no_op"
F = "no_op"
d = "no_op"
D = "no_op"
s = "no_op"
S = "no_op"

[keys.normal."space".t]
f = ":sh erd -I --sort name --dir-order first --suppress-size -y iflat"
F = ":sh erd -I --sort name --dir-order first -. --no-git -y iflat"
t = ":sh erd -I --sort name --dir-order first --suppress-size -y inverted"
T = ":sh erd -I --sort name --dir-order first -. --no-git -y inverted"

[keys.normal."space".f]
f = "file_picker"
F = "file_picker_in_current_directory"
p = "diagnostics_picker"
P = "workspace_diagnostics_picker"
b = "buffer_picker"
t = "symbol_picker"
T = "workspace_symbol_picker"
g = "global_search"
y = [
  ':sh rm -f /tmp/unique-file',
  ':insert-output yazi "%{buffer_name}" --chooser-file=/tmp/unique-file',
  ':insert-output echo "\x1b[?1049h\x1b[?2004h" > /dev/tty',
  ':open %sh{cat /tmp/unique-file}',
  ':redraw',
]
Y = [
  ':sh rm -f /tmp/unique-file',
  ':insert-output GO_ROOT=1 yazi "%{buffer_name}" --chooser-file=/tmp/unique-file',
  ':insert-output echo "\x1b[?1049h\x1b[?2004h" > /dev/tty',
  ':open %sh{cat /tmp/unique-file}',
  ':redraw',
  ':set mouse false',
  ':set mouse true',
]

[keys.normal."space".g]
g = "changed_file_picker"
l = ':sh wezterm start --class weztermfloat --cwd %sh{pwd} -- nvim -c "G" -c only'
f = ":sh git pull"
p = ":sh git push"
t = ":sh git tree"
G = [
  ":write-all",
  ":new",
  ":insert-output lazygit",
  ":buffer-close!",
  ":redraw",
  ":reload-all",
]

[keys.normal."space".w]
N = "swap_view_down"
E = "swap_view_right"
L = "swap_view_up"
n = "jump_view_down"
e = "jump_view_right"
l = "jump_view_up"
j = "no_op"
k = "no_op"
J = "no_op"
K = "no_op"
"C-j" = "no_op"
"C-h" = "no_op"
"C-l" = "no_op"
"C-k" = "no_op"

[keys.normal."space".q]
f = "code_action"

[keys.normal."space".l]
i = ":toggle lsp.display-inlay-hints"

[keys.insert]
"C-n" = "completion"
"C-space" = "completion"

[keys.normal."C-w"]
w = "transpose_view"
"C-w" = "transpose_view"
k = "rotate_view"
"C-k" = "rotate_view"
N = "swap_view_down"
L = "swap_view_up"
E = "swap_view_right"
n = "jump_view_down"
"C-n" = "jump_view_down"
l = "jump_view_up"
"C-l" = "jump_view_up"
e = "jump_view_right"
"C-e" = "jump_view_right"
j = "no_op"
"C-j" = "no_op"
